<% if @posts.any? %>
<% @posts.each do |post| %>
<h2>
    <%= image_tag (post.image.url(:thumb)) %>
    <%= post.caption %>
</h2>
<br>
<%end%>
<%else%>
No pictures yet
<%end%>
<br>
<a href="/posts/new">
    Add a picture
</a>
